
@{
    ViewBag.Title = "UnderDevelopment";
    Layout = "~/Views/Shared/_nakazade.cshtml";
}

<section class="section">
    <div class="container mt-5">
        <div class="page-error">
            <div class="page-inner">
                <h1> COMMING SOON!</h1>
                <div class="page-description">
                
                </div>
                
            </div>
        </div>
    </div>
</section>

