@model IEnumerable<nakazadde.Models.Video>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_nakazade.cshtml";
}

<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4> UPLOAD VIDEO</h4>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#exampleModalCenter">
                    Vertically
                    Centered
                </button>
            </div>
        </div>
    </div>

    <div class="modal fadeIn" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">VIDEO UPLOAD </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Index", "Videos", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label>Choose File:</label>
                            <div class="input-group">

                                <input type="file" name="postedFile" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label>Short Description</label>
                            <input type="text" name="ShortNotes" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Main  Description</label>
                            <input type="text" name="Description" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <input type="submit" id="btnUpload" class="btn btn-secondary" value="Upload" />

                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    @if (Model.Count() > 0)
    {
        foreach (var file in Model)
        {
            <div class="col-6 col-sm-6 col-lg-6">
                <div class="card author-box card-primary">
                    <div class="card-body">

                        <div class="title">@file.Name</div>
                        <div class="video-frame">
                            <video id="VideoPlayer" src='@Url.Action("DownloadFile", "Videos", new {fileId = file.Id})' controls="true"
                                   style="width:100%; height:auto; " loop="true" />
                        </div>

                    </div>
                </div>
            </div>
        }
    }
</div>
<link rel="stylesheet" href="~/Content/loader.css" />

<div id="resultLoading" style="display: none; width: 100%; height: 100%; position: fixed; z-index: 10000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto;">
    <div style="width: 340px; height: 200px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; z-index: 10; color: rgb(255, 255, 255);">
        <div class="uil-default-css">
            <div class="loader">Loading...</div>

        </div>
        <div class="resultLoading" style="display: block; font-size: 18px; font-weight: 300;">&nbsp;</div>
    </div>
    <div style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div>
</div>
<script>
    var showLoader = function (text) {
        $('#resultLoading').show();
        $('#resultLoading').find('.loader-text').html(text);
    };

    jQuery(document).ready(function () {
        jQuery(window).on("beforeunload ", function () {
            showLoader('Loading, please wait...');
        });
    });

    $("#loader").fadeOut(1000);
</script>